@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Miw cinema</h1>
    <p>All program Movies<a href="@Url.Action("Index","MasterMovie")"> Click Here!!!</a>.</p>
</div>
